# Dependencies
node_modules

# Build outputs
dist
tmp
.next
build
out-tsc

# IDE
.cursor
.vscode
.idea

# Config files
*.config.js
*.config.ts

# Documentation
*.md
docs

# Environment
.env*

# NX
.nx


